node_modules
**/node_modules
dist
**/dist
build
**/build
.next
**/.next
coverage
**/coverage
.turbo
**/.turbo
infra/cdk/cdk.out
.git
.github
*.log
.DS_Store
.env
.env.*
*.tsbuildinfo
**/*.tsbuildinfo
